// body { 
//     margin: 0; 
//     padding: 0 ;
//     border: 0 none;
//    }
   body,html{
       height: 100%;
       background-color: #D9D9D9;
    }
    body {
      background: #D9D9D9;
      font-family:Merriweather;
      line-height:1.5;
      margin:0;
      padding:0;
    }
    
    html, body {
      height: 100%;
    }
    .container {
      margin:auto;
      overflow:hidden;
      width:90%
    }
    .container #topic{
      margin-bottom:10px;
      margin-top:200px;
    }
    .main-comment {
      padding: 0 0 0;
      text-align: center;
    }
    // .comment-log {
    //   margin: 0;
    //   padding: 0;
    //   border: 1px solid blue;
    //   border-radius: 4px;
    // }
    // .user-thumbnail {
    //   background-color: white;
    //   position: relative;
    //   top: 0;
    //   border-radius: 4px;
    //   border-bottom: 1px solid blue;
    // }
    #close, .closeUpdate {
      background: #882222;
      border: none;
      float: right;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      outline: none;
      padding: 10px 20px;
      margin-top: 20px; 
      margin-right: 150px;
    }
    
    #proceed,.btn-back {
      background: #007bff;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      float: left;
      margin-left: 150px;
      margin-top: 20px;
      outline: none;
      padding: 10px 20px; 
    }
    .editable {
      border: 1px solid #4484CE;
      padding: 5px;
    }
    .comment-body {
      border: 0;
      background: lighten(blue, 56%);
    }
    // .comment-body p {
    //   padding-left: 1rem;
    // }
    // .comment-body .p-message{
    //   text-align: center;
    //   padding: 1rem;
    // }
    // .modalBody {
    //   // background-color: white;
    //   padding: 10px;
    //   margin-top: 8%;
    //   height: 35%; 
    //   left: 30%;
    //   overflow: auto;
    //   position: fixed;
    //   padding: 20px,20px;
    //   top: 0;
    //   width: 40%; 
    //   z-index: 100; 
    //   border: 1px solid blue; 
    // }
    #header {
      padding-top: 70px;
      clear:both;
      background:url(http://res.cloudinary.com/dowmiccxo/image/upload/v1531260429/love.jpg);
      background-position:center;
      background-size:cover;
      color:#fff;
      height:600px;
      text-align:center
    }
    
    #header h1 {
      /* border-bottom:2px solid #FF8C00; */
      margin-bottom:10px;
      margin-top:200px
    }
    
    .btn-signup {
      background:#4484CE;
      border:none;
      border-radius:8px;
      color:#fff;
      font-size:1em;
      font-weight:bold;
      outline:none;
      padding:15px 15px;
      transition:.5s;
      width:400px
    }
    
    .btn-signup:hover {
      background:#f28e53;
      cursor:pointer;
      transition:.5s
    }
    
    .grid {
      background: #D9D9D9;
      margin-top:50px;
      margin-bottom: 30px;
    }
    
    .grid img {
      width:90px
    }
    
    .box {
      float:left;
      padding:10px;
      text-align:center;
      width:30%
    }
  //  #main{
  //      width: 50%;
  //      margin: 0 auto 100px auto;
  //      background-color: #D9D9D9;
  //   }
    #main{
      margin:auto;
      overflow:hidden;
      width:100%;
      background-color: #D9D9D9;
  }
    #topic{
        padding-top: 50px;
      }
   .centring-div{
       text-align:center;
   }
   .centring-div a{
    color:#4484CE;
    text-decoration: none;
    }
   .centring-div a:hover{
    text-decoration:none;
    /* color: #F19F4D; */
  }
   #no_account{
       font-family: Arial, Helvetica, sans-serif;
       color: black;
       padding:2px;
   }
   #logo{
    background: url(http://res.cloudinary.com/dowmiccxo/image/upload/c_mfit,h_56,w_105/v1531255459/My-diary.png) no-repeat; 
    background-size:100%;
    width: 250px;
    height: 70px;
    margin: auto;
  }
   #authform {
    background: white;
    border-radius: 10px;
    margin:10px auto 10px auto;
    width: 40%;
    min-width: 20%;
    padding:30px;
}
   .alert-class, #loginMessage {
    color: red;
    }
    #loginSuccess {
        color: green;
    }
    input[type="text"],input[type="password"],input[type="email"] {
       background:transparent;
       padding:5px;
       border: 1px solid #ddd;
       border-radius: 5px;
       color:rgb(15, 6, 6);
       font-size:1em;
       height:20px;
       outline:none;
       width:100%;
       cursor:text;
     }
    input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover {
       border: 1px solid #4484CE;
       cursor:text;
       transition:0.5;
   }
   #authUser {
    background: #4484CE;
    width:100%;
    padding: 10px;
    border: 1px solid #4484CE;
    border-radius: 8px;
    text-align: center;
   }
   #entryHeader{
    margin-top: 100px;
  }
   #dailyEntry {
    background-color: white;
    padding: 10px;
    margin: auto;
    height: 60%; 
    left: 30%;
    overflow: auto;
    padding: 20px,20px;
    top: 0;
    width: 70%; 
    border: 1px solid blue;
    margin-bottom: 5%;
   }
   input[type="submit"] {
    background: #95f0d8;
    width:100%;
    padding: 10px;
    border: 1px solid #95f0d8;
    border-radius: 8px;
    text-align: center;
}

input[type="submit"]:hover {
    background: #34946a;
}
textarea{
    vertical-align:top;
    width: 80%;
    height: 100%;
    padding: 12px 20px;
    margin: 0 auto 0 auto;
    font-size: 20px;
    box-sizing: border-box;
    resize: none;
    background: transparent;
}
    #submitEntry {
       background: #4484CE;
       width:10%;
       padding: auto;
       font-size: 20px;
       margin: 10px 40% ;
       border: 1px solid #4484CE;
       border-radius: 3px;
       text-align: center;
   }
   footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       height: 5%;
       padding-top: 10px;
       padding-bottom: 10px;
       background-color:#4484CE;
       text-align: center;
       color: #E7DFDD;
    }
    .logo_sub{
      font-size: 40px;
      margin: auto;
      width: 250px;
      height: 70px;
      padding: auto;
      text-align: center;   
      color: #4484CE;
  }
    #allMessage {
      margin: auto;
      padding: auto;
      text-align: center;
      }
      #entryHeader{
      margin-top: 100px;
     }
    table {
      border:1px solid #ccc;
      border-collapse:collapse;
      margin:0;
      padding:0;
      table-layout:fixed;
      width:100%; border: 1px solid white;
  
     }
     table tr:nth-child(even) {
      background-color:#fff;
    }
    table tr:nth-child(odd) {
      background-color:#ccc;
    }
      table th,table td {
          border:1px solid #ddd;
          padding:.625em;
          text-align:center;
        }
        table th:first-child, table th:last-child{
            width: 25%;
        }
        
        table th {
          background-color:#4484CE;
          color:#fff;
          font-size:.85em;
          letter-spacing:.1em;
          text-transform:uppercase;
        }
        .view,.delete,.edit{
          margin: 5px;
          display: inline-block;
      }
     .view{
       height: 30px;
       width: 30px;
       background: url(http://res.cloudinary.com/dowmiccxo/image/upload/v1531315939/discovery-icon.png) no-repeat;
          background-size: 100%;
      }
     .delete{
         height: 30px;
         width: 30px;
         background: url(http://res.cloudinary.com/dowmiccxo/image/upload/v1531315940/remove.png) no-repeat;
         background-size: 100%;
      }
    .edit{
         height: 30px;
         width: 30px;
         background: url(http://res.cloudinary.com/dowmiccxo/image/upload/v1531315940/edit.png) no-repeat;
         background-size: 100%;
      }   
      #counter{
        width:60%;
        height: 100px;
        margin: auto;
        color:#4484CE;
        border: 1px solid #4484CE;
        padding: auto;
        text-align: center;
    }
    .accountFormHeader {
      font-size: 20px;
      font-weight: bold;
      margin: auto;
      color: #4484CE;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
  }
  .containerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:40px;

  }
  #settingDiv{
    width: 80%;
    background-color: white;
    align-content: center;
    padding: 10px;
}
    .menu-links {
        background:#4484CE;
        position:fixed;
        width:100%;
        z-index:1
      }
      
      .menu-links a {
        color:#fff;
        text-decoration:none
      }
      
      #menu-links-left {
        color:#fff;
        display:inline-block;
        font-family:Kavivanar;
        font-size:22px;
        padding:10px 20px
      }
      
      #menu-links-left span {
        margin:0
      }
      
      .menu-links > .menu-links-right {
        float:right;
        font-size:18px;
        padding-left:0
      }
      
      .menu-links > .menu-links-right > a {
        color:#fff;
        display:inline-block;
        font-size:.9em;
        margin-top:5px;
        opacity:0.87;
        padding:10px 20px;
        text-decoration:none
      }
      
      .menu-links > .menu-links-right > a:hover {
        opacity:1
      }
      
      .menu-links > #menu-check, .menu-icon  {
        display:none
      }
    @media(max-width: 550px) {
        #login {
            width: 80%;
        }
        #main{
            width: 70%;
            margin:  auto;
            background-color: #D9D9D9;
         }
         #motto,#no_account{
            padding:2px;
            font-size: 20px;
        }
        input[type="password"],input[type="email"] {
            font-size:10px;
            height:15px;
          }
        input[name="entryTopic"] {
            background:transparent;
            padding:10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            color:rgb(15, 6, 6);
            font-size:1em;
            height:20px;
            outline:none;
            width:70%;
          } 
          label, #today {
            color: #4484CE;
            padding: 10px;
            box-sizing: border-box;
            font-size: 20px;
        } 
          textarea{
            vertical-align:top;
            width: 80%;
            height: 100%;
            padding: 12px 20px;
            margin: 0 auto 0 auto;
            font-size: 20px;
            box-sizing: border-box;
            resize: none;
            background: transparent;
        }
            #submitEntry {
               background: #4484CE;
               width:10%;
               padding: auto;
               font-size: 20px;
               margin: 10px 40% ;
               border: 1px solid #4484CE;
               border-radius: 3px;
               text-align: center;
           }  
          .menu-links > .menu-icon {
            display:inline-block;
            position:absolute;
            right:0;
            top:0;
          }
        
          .menu-links > .menu-icon > label {
            display:inline-block;
            padding:13px
          }
        
          .menu-links > .menu-icon > label:hover {
            background-color:rgba(0,0,0,0.3)
          }
        
          .menu-links > .menu-icon > label > span {
            border-top:2px solid #eee;
            display:block;
            height:7px;
            width:25px
          }
        
          .menu-links > .menu-links-right {
            background-color:rgb(217, 222, 247);
            color: black;
            display:block;
            height:0;
            left:0;
            overflow-y:hidden;
            position:absolute;
            top:50px;
            transition:all .3s ease-in;
            width:100%
          }
        
          .menu-links > .menu-links-right > a {
            display:block;
            width:100%
          }
        
          .menu-links > #menu-check:not(:checked) + .menu-links-right {
            height:0
          }
        
          .menu-links > #menu-check:checked + .menu-links-right {
            height:auto;
            overflow-y:auto
          }
        
          .active {
            border:none;
            display:hidden
          }
        
          .mob-active {
            border:1px solid #fff;
            display:block;
            padding:10px 20px
          }
        
          .box {
            float:none;
            text-align:center;
            width:100%
          }  
    }